* {
  padding: 0;
  margin: 0;
  font-family: Arial;
}

body {
  height: 100vh;
  width: 100vw;
  /* background: #081b29; */
  background: #000101;
  color: #fff;
  display: grid;
  justify-content: center;
  align-content: center;
}

::-webkit-input-placeholder {
  color: #eee;
}

.wrapper {
  position: relative;
  width: 800px;
  height: 65vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* border: 3px solid #00ffff; */
  border: 3px solid #015757;
  border-radius: 4px;
  box-shadow: 0 0 50px 0 #00a6bc;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 35px;
}

.input-wrapper {
  padding-bottom: 10px;
  border-bottom: 2px solid #eee;
}

input {
  border: none;
  outline: none;
  background: none;
  width: 260px;
  margin-top: 40px;
  padding-right: 10px;
  font-size: 17px;
  color: #7dfe89;
}

.submit {
  border: none;
  outline: none;
  width: 288px;
  margin-top: 25px;
  padding: 10px 0;
  font-size: 20px;
  border-radius: 40px;
  border-spacing: 1px;
  letter-spacing: 1px;
  cursor: pointer;
  /* background: linear-gradient(45deg, #0ef, #c800ff); */
  background: linear-gradient(to right, #7dfe89, #4c9b53c5);
}

.footer {
  margin-top: 30px;
  letter-spacing: 0.5px;
  font-size: 14px;
}

a {
  color: #7dfe89;
  text-decoration: none;
}

.banner {
  position: absolute;
  top: 0;
  right: 0;
  width: 450px;
  height: 390px;
  /* background: linear-gradient(to right, #0ef, #c800ff); */
  background: linear-gradient(to right, #7dfe89, #4c9b53c5);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 60% 100%);
  padding-right: 70px;
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner h1 {
  font-size: 40px;
  margin-top: -130px;
  margin-right: -150px;
  line-height: 50px;
}
